@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Map */

#google-map {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
}

.gm-style-iw,
button:focus {
  outline: 0;
}

.gm-style-iw-a,
div:focus {
  outline: 0;
}
